.container{
	display: flex;
	flex-flow: row wrap;
}

div{
	border: 1px dashed lightblue;
	box-sizing: border-box;
}

.inner-container{
	display: flex;
	flex-flow: row wrap;	
	flex-grow:1;
}

.part1{
	height:400px;
	width: 400px;
	flex-grow:1;
}

.part2{
	height:200px;
	width: 200px;
	flex-grow: 1;	
}

.part3{
	height:200px;
	width: 200px;
	flex-grow: 1;
}

.part4{
	height:100px;
	width: 100px;	
	flex-grow: 1;
}

.part5{
	height:100px;
	width: 100px;	
	flex-grow: 1;
}

.part6{
	height:100px;
	width: 100px;	
	flex-grow: 1;
}

.part7{
	height:100px;
	width: 100px;	
	flex-grow: 1;
}



