body{
	text-align: center;
	display: grid;
	height: 100vh;
	grid-template-columns: 30% 40% 30%;
	grid-template-rows: 30% 40% 30%;
	grid-template-areas: 
		". . ."
		". mid ."
		". . .";
}

.form-container{
	grid-area: mid;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-form{
	border: 2px dotted lightblue;
	border-radius: 10px;
}

.form-row{
	margin-top: 2px;
	margin-bottom: 2px;
}
